.element__text-container_like {
    border: none;
    background-color: white;
    background: url('../../../../images/like-button.svg');
    background-size: 100%;
    width: 22px;
    height: 19px;
    outline: none;
    padding: 0;
    margin: 0;
}

.element__text-container_like:hover {
    opacity: 0.6;
    transition: opacity 0.1s ease;
    cursor: pointer;
}