.profile {
    margin: 0 200px 50px;
    min-width: calc(100% - 400px);
    min-height: 120px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .profile {
        width: calc(100% - 19px*2);
        margin: 0 auto 36px;
        flex-direction: column;
        align-items: center;
    }
}