.popup__content {
    position: fixed;
    width: 430px;
    height: 330px;
    margin: 195px auto 0;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .popup__content {
        width: 282px;
        height: 322px;
        margin: 123px 19px 0;
    }
}