.popup__content {
    position: absolute;
    width: 430px;
    height: 330px;
    left: calc((100% - 430px)/2);
    top: 195px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .popup__content {
        width: 282px;
        height: 322px;
        left: calc((100% - 282px)/2);
        top: 123px;
    }
}