.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 45px 200px 40px;
    border-bottom: 1px solid #545454;
    min-height: 74px;
    min-width: 320px;
    max-width: 1280px;
    width: calc(100% - 400px);
}

@media screen and (max-width: 767px) {
    .header {
        margin: 28px 0 42px;
        width: 100%;
        height: 56px;
    }
}