.elements {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    width: calc(100% - 400px);
    margin: 0 auto 66px;
}

@media screen and (max-width: 1279px) {
    .elements {
        width: calc(100% - 125px*2);
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        row-gap: 20px;
        width: calc(100% - 19px*2);
        margin: 0 auto 48px;
        justify-items: center;
    }
}