.error {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    height: 12px;
    margin: 0;
    position: absolute;
    top: 143px;
    left: 36px;
    opacity: 1;
    z-index: 1;
}

.error:last-of-type {
    top: 200px;
}