.popup__close-button {
    background-image: url('../../../images/close.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-top: -35px;
    margin-left: 425px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: opacity 0.1s ease;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 26px;
        height: 26px;
        margin: 0;
        margin-left: 260px;
        margin-top: -30px;
    }
}