@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');

@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');

@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__text/profile__text.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');
@import url('../blocks/profile/__button-container/profile__button-container.css');
@import url('../blocks/profile/__plus-button/profile__plus-button.css');

@import url('../blocks/elements/elements.css');
@import url('../blocks/element/element.css');
@import url('../blocks/element/__image/element__image.css');
@import url('../blocks/element/__text-container/element__text-container.css');
@import url('../blocks/element/__text-container/_text/element__text-container_text.css');
@import url('../blocks/element/__text-container/_like/element__text-container_like.css');

@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__text/footer__text.css');